<!doctype html>
<html lang="en" page-base="{{ request.base }}">
<head>
    <meta charset="UTF-8">
    <title>{{ Page.Meta.title }}</title>

    {{# Page.stylesheets }}
        <link rel="stylesheet" href="{{ filename }}" >
    {{/ Page.stylesheets}}

</head>
<body>
    
    {{> Header }}

    {{> Content }}
    
    {{> Footer }}

</body>
</html>