<h1> Pagina de inicio </h1>











<code>
    
    <p>
        Todo objeto que extienda de \Env\Object tiene el metodo debug, que retorna
        un print erre de si mismo
    </p>

    <p> 
        { { \Env\Object.debug } }
    </p>
    
    <pre>
        {{ debug }}
    </pre>

</code>

